reseteo
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    height: 98vh;
    background-color: gray;
    border: 2px solid black;
    
    display: grid;
    

    /* fracciones de columas en el contenedor */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
    
.caja{
    background-color: red;
    border: 2px solid black;
    font-size: 2rem;
    border: 2px solid black;
}
    
.caja-posicionada{
    background-color: aqua;
    
    /* grid-column: 1 / 4;  */
    /* grid-row: 1 / 3 ;   */

    grid-column: span 2;
    grid-row: span 2;
}


    
    


    
    


