/* megen y paddig de la web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lobster'; */
    font-family: 'Abril Fatface', cursive;
}   

/* ESTILOS PAGINA PRINCIPAL */

/* color de fondo de todo el html */
.back-color {
    background-color: greenyellow;
}

/* titulo principal del index */
.principal{
    border: 10px solid greenyellow;
    background-color: yellow;
    padding: 16px;
    border-radius: 30px;
}

.back-img_huella {
    background-color: green;
    padding: 1rem;
}

.titulo-index {
    display: flex;
    justify-content: center;
    
    color: black;
    text-shadow: 2px 5px 3px whitesmoke;
    /* border: 2px solid black; */

    text-transform: uppercase;
    margin: 10px 50px;
    padding: 20px;
    
    font-size: 4rem;
    
    border-radius: 10px;
    
    background-color: greenyellow;
    box-shadow: 2px 5px 3px gray;
        
}

/* subtitulo del header */
.subtitulo-pet {
    margin: 25rem;
    border: 6px solid yellow;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2.5rem;
    color: greenyellow;
}   

/* estilos del header */

/* fondo del la imagen del header */


/* imgen de la huella */
.img-huella {
    width: 200px;
    margin: 2px 0px 0px 560px;
    box-shadow: 2px 5px 3px black;
    border: 2px solid black;
    border-radius: 50%;
    padding: .5rem;
    background: linear-gradient(to top left, orange, green, lightblue);
}

.span-indicador {
    text-align: center;
    font-size: 1.3rem;
    background-color: antiquewhite;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: 2px 5px 3px black;
    border-radius: 1rem;
    padding: 4px;
    border: 2px solid black;
}

.servicios-title {
   display: flex;
   justify-content: center;
   padding: 2rem;
   background-color: bisque;
   box-shadow: 2px 5px 3px gray;
   text-shadow: 2px 5px 3px gray;
   border-radius: 10px;
   margin: 50px 0px;
   font-size: 3rem;
   text-transform: uppercase;
}
    

.box-img_servicios {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}


/* seccion nosotros */
.nosostros {
    text-align: center;
}

.nosostros-title{
    display: flex;
    justify-content: center;
    text-shadow: 2px 5px 3px gray;
    /* text-align: center; */
    /* border: 2px solid beige; */
    border-radius: 10px;
    padding: 30px 10px;
    background-color: bisque;
    box-shadow: 2px 5px 3px gray;
    font-size: 3rem;
    text-transform: uppercase;
    /* margin: 0 auto; */
    /* width: 250px; */
}

.nav-index {
    padding:20px;
    margin: 20px ;
    background-color: greenyellow;
    border-radius: 10px;
}

.lista-Ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* font-weight: bolder; */
    font-size: 1.2rem;
    border: 5px solid green;
    padding: 16px;
    border-radius: 10px;
    background-color: greenyellow;
}

.enlace {
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
    text-decoration-line: none;
}

/* efectos sobre los enlaces de  */
.enlace:hover{
    text-decoration: underline;
    background-color: black;
    color: bisque;
    padding: 5px 2px;
    border-radius: 10px;
    
}



/* caja de texto del titulo de registro */
.titulo-contacto {
    border: 2px solid black;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 2px 5px 3px black;
    background-color: beige;
}

/* ------------------------------------------------------------------------------------------------- */

.servicios-ofrecemos-img {
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-radius: 10px;
}

.servicios-img-contenedor {
    display: flex;
    justify-content: space-between;
    /* gap: 2px; */
}

/* imagenes de la seccion servicios */
.servicios-img {
    width: 400px;
    /* letter-spacing: 150px; */
    border-radius: 10px;
    margin: 10px 10px;
    box-shadow: 2px 5px 3px black;
}

/* div caja de seccion servicios */
.servicios_seccion {
    display: flex;
    justify-content: space-between;

}


.video-nosotros {
    width: 440px;
    display: flex;
    justify-content: center;
    height: 40vh;
    margin: 20px;
    border: 25px solid green;
    margin: 20px auto;
}

.instalaciones-title {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 3px gray;
    background-color: bisque;
    text-shadow: 2px 5px 3px gray;
    
  
}

.producto-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 4rem;
    background-color: bisque;
    border-radius: 10px;
    padding: 1rem;
    text-shadow: 2px 5px 3px gray;
    box-shadow: 2px 5px 3px gray;    
    /* text-align: center;
    padding: 1rem;
    border: 2px solid black;
    width: 48rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 2px 5px 3px black;
    text-transform: uppercase;
    text-shadow: 2px 5px 3px gray;
    background-color: bisque;
    font-weight: bolder;
    font-size: 5rem; */
}

.instalaciones-img {
    border-radius: 10px;
    margin-top: 2rem;
}

.instalaciones-img {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.img-inst {
    width: 25rem;
    border-radius: 50%;
}

/* imagenes de productos en la seccion de productos */
.ima-productos {
   
    border-radius: 10px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.prod-img {
    box-shadow: 2px 5px 3px black;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
} 

/* imagenes de productos en la seccion de productos */



.img-huella-footer{
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(to top left, orange, green, lightblue);
    padding: 8px;
}

/* estilos para el formulario de la seccion registro */
.caja-formulario{
    margin: 30px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 2px 5px 3px black;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 5px;   
    border: 2px solid black;
    width: 450px;
}

.textarea{
    /* padding: 30px 10px; */
    margin: 10px 10px;
    resize: none;
    border-radius: 10px;
    box-shadow: 2px 5px 3px black;
}

.caja-datos{
    padding: 10px;  
    margin: 0 0 auto 0px;  
}

.input-reg{
    border-radius: 10px;
    /* margin: 10px auto; */
    padding: 10px;
}


.btn-enviar{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin: 10px auto;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    width: 250px;
    box-shadow: 2px 5px 3px black;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: space-around;
    border: 5px solid yellow;
    color: beige;
    text-shadow: 2px 5px 3px black;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    margin: 20px 0 0 0;
}
    
.seguinos-tx{
    font-size: 4rem;
    margin: 10px;
    margin: 30px 0 0 0;
    text-align: center;
}

.redes-img{
    box-shadow: 2px 5px 3px beige;
    border-radius: 50%;
    width: 50px;
    margin: 10px;   
}














    
    