/* megen y paddig de la web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-color{
    background-color: greenyellow;
}

/* titulo principal del index */
.titulo-index {
    text-align: center;
    width: 400px;
    text-transform: uppercase;
    border: 2px solid black;
    margin: 0px auto;
    padding: .8rem;
    border-radius: 50%;
    background-color: bisque;
    box-shadow: 2px 5px 3px black;
    text-shadow: 2px 5px 3px gray;
}

/* subtitulo del header */
.subtitulo-pet {
    margin: 0 0 0 44rem;
    box-shadow: 2px 5px 3px black;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: bisque;
    font-size: 20px;
    border-radius: 50%;
    padding: .8rem;
}

/* estilos del header */
.principal {
    border: 10px solid greenyellow;
    /* background-image: url(../imagenes/huella.jpg); */
    /* width: 100%; */
    background-color: yellow;
    padding: 16px;
}

/* fondo del la imagen del header */
.back-img_huella {
    background-color: green;
    padding-bottom: 1rem;
}

.span-indicador {
    text-align: center;
    font-size: 1.3rem;
    background-color: antiquewhite;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 1rem;
    padding: 4px;
    box-shadow: 2px 5px 3px black;
}

/* imgen de la huella */
.img-huella {
    width: 200px;
    margin: 2px 0px 0px 560px;
    box-shadow: 2px 5px 3px black;
    border: 2px solid black;
    border-radius: 50%;
    padding: .5rem;
    background: linear-gradient(to top left, orange, green, lightblue);
}

.nav-index {
    padding: 15px;
}

.lista-Ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 2px solid bisque;
    padding: 1rem;
    border-radius: 10px;
    background-color: greenyellow;
}

.enlace {
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
    text-decoration-line: none;
}

.encontranos-enlace{
    text-decoration-line: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
    text-shadow: 2px 5px 3px gray;
    box-shadow: 2px 5px 3px black;
    background-color: beige;
    margin: 0 10px 0 10px;
}


/* mapa de ubicacion */
.map-ubicacion {
    border: 2px solid black;
    width: 305px;
    margin: 10px 10px 0 50px;
    box-shadow: 2px 5px 3px gray;
}

/* footer - visitanos */
.visitanos {
    background-color: bisque;
    /* margin: 10px 10px 0 30px; */
    margin: 15px auto;
    font-size: 30px;
    padding: 1rem;
    width: 350px;
    text-align: center;
    box-shadow: 2px 5px 3px gray;
    border-radius: 50%;
}

.visitanos-txt{
    color: green;
    font-size: 3.5rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 2px 5px 3px greenyellow;
}

/* imagenes de redes sociales */
.redes {
    display: flex;
    justify-content: space-between;
    width: 50px;
    box-shadow: 2px 5px 3px gray;
    border-radius: 50%;
    /* gap: 1rem; */
}

/* caja div para redes sociales */
.redes-box {
    background-color: rgb(10, 115, 68) ;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 2px 5px 3px gray;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: .9rem;
    width: 40%;
    margin: 0 auto;
    padding: 20px 20px ;
}

.enlace-redes {
    color: gray;
    font-weight: bolder;
    font-size: 1.2rem;
    /* text-shadow: 2px 5px 3px whitesmoke; */
    border: 2px solid white;
    background-color: greenyellow;
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
    box-shadow: 2px 5px 3px gray;
    
}

/* registro */

.registro-img {
    /* background-color: greenyellow; */
    height: 700px;
}


/* caja de texto del titulo de registro */
.titulo-contacto{
    border: 2px solid black;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 2px 5px 3px green;
}

/* ------------------------------------------------------------------------------------------------- */

.servicios-ofrecemos-img{
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-radius: 10px;
}

.servicios-img-contenedor{
    display: flex;
    justify-content: space-between;
    /* gap: 2px; */
}

/* imagenes de la seccion servicios */
.servicios-img {
    width: 400px;
    /* letter-spacing: 150px; */
    border-radius: 10px;
    margin: 10px 10px;
    box-shadow: 2px 5px 3px black;
}

/* div caja de seccion servicios */
.servicios_seccion {
    display: flex;
    justify-content: space-between;
    
}

.servicios-title{
    border: 2px solid black;
    text-align: center;
    margin: 30px auto;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 5px 3px gray;
    width: 400px;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 2px 5px 3px black;
    background-color: bisque;
}




.box-img_servicios{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}


/* seccion nosotros */
.nosostros{
    text-align: center;
}

.video-nosotros{
    width: 440px;
    display: flex;
    justify-content: center;
    height: 40vh;
    margin: 20px;
    border: 25px solid green;
    margin: 20px auto;
}

.nosostros-title{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid black;
    width: 15rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 2px 5px 3px black;
    background-color: bisque;
}

.instalaciones-title{
    border: 2px solid black;
    width: 24rem;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 2px 5px 3px black;
    background-color: bisque;
    text-shadow: 2px 5px 3px gray;

}

.producto-title{
    text-align: center;
    padding: 1rem;
    border: 2px solid black;
    width: 25rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 2px 5px 3px black;
    text-transform: uppercase;
    text-shadow: 2px 5px 3px gray;
    background-color: bisque;
    font-weight: bolder;
}

.instalaciones-img{
    border-radius: 10px;
    margin-top: 2rem;
}

.instalaciones-img{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.img-inst{
    width: 25rem;
    border-radius: 50%;
}



