*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* contenedor del section */
.flex-container{
    background-color: yellowgreen;
    height: 98vh;


    /* direccion de los elementos */
    /* row (fila) --horizontal */
    /* column (columna vertical) */
    display: flex;
    flex-direction:column;

    /* los elementos siempre van a estar en una unica fila */
    flex-wrap: nowrap;
}

.caja{
    
    border: 3px solid black;
    font-size: 1.8rem;
    
    text-align: center;
    
    
    background-color: blueviolet;
    
    height: 100px;
    width: 100px;
}

.caja-2{
    background-color: aqua;
}




