*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 1rem;
    width: 300px;
    margin: 10px auto;
    color: springgreen;
    text-shadow: 2px 5px 3px black;
    box-shadow: 2px 5px 3px black;
    background-color: green;
    border-radius: 50%;

}


.formulario{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    background-color: aqua; 
}

.bt-enviar{
    background-color:cornflowerblue;
    font-weight: bolder;
    font-size: 1rem;
    padding: 10px;
    margin: 10px 80px;
    width: 100px;
}

/* imagen cargada desde css */
.imagen{
    background-image:url("../imagenes/IMG-20220613-WA0003.jpg") ;
    border: 20px solid black;
    height: 700px;
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    border-radius: 10px;
    margin: 30px 30px;
    box-shadow: 2px 5px 3px gray;
}

