/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.caja{
    background-color:cadetblue;
    /* width: 200px; */
    /* height: 450px;*/
    /* min-height:100px ; */
    width: 200px;
    height: 200px;
    /* overflow:hidden; */
    border: 20px solid red;
}
    
    

